<?xml version="1.0" ?>

<plugin>

    <extension id="org.coode.pattern.ValuePartition"
               point="org.coode.pattern.Pattern">
        <label value="Value Partition"/>
        <class value="org.coode.pattern.valuepartition.ValuePartitionDescriptor"/>
        <renderer value="org.coode.pattern.valuepartition.ui.ValuePartitionRenderer"/>
        <editor value="org.coode.pattern.valuepartition.ui.ValuePartitionEditor"/>
        <documentationUrl value="http://odps.sourceforge.net/odp/html/Value_Partition.html"/>
    </extension>

</plugin>
