<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
<!-- Views -->
    <extension id="OWLArithmeticsFormulaClassView"
                point="org.protege.editor.core.application.ViewComponent">
        <label value="Class Formulas"/>
        <class value="org.coode.oae.ui.OWLArithmeticsFormulaClassView"/>
        <headerColor value="@org.protege.classcolor"/>
        <category value="@org.protege.classcategory"/>
    </extension>
     <extension id="OWLArithmeticsFormulaDataPropertyView"
                point="org.protege.editor.core.application.ViewComponent">
        <label value="Property Formulas"/>
        <class value="org.coode.oae.ui.OWLArithmeticsFormulaDataPropertyView"/>
        <headerColor value="@org.protege.datapropertycolor"/>
        <category value="@org.protege.datapropertycategory"/>
    </extension>   
<!-- Menu items -->
    <extension id="evaluateFormulas"
                point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Evaluate Formulas..."/>
        <class value="org.coode.oae.ui.action.EvaluateAction"/>
        <toolTip value="Evaluate the values for the data properties annotated by formulas"/>
        <path value="org.protege.editor.owl.menu.tools/SlotR-B"/>
        <editorKitId value="OWLEditorKit"/>
        <accelerator value=""/>
    </extension>
</plugin>
