<?xml version="1.0" ?>

<plugin>

    <extension id="org.coode.nerd.NerdView"
             point="org.protege.editor.core.application.ViewComponent">
        <label value="The Protege Nerd is Back!"/>
        <class value="org.coode.nerd.NerdView"/>
        <headerColor value="@org.protege.ontologycolor"/>
    </extension>

</plugin>