<?xml version="1.0" ?>
  <plugin>
  	<extension id="LintRollView"
			point="org.protege.editor.core.application.ViewComponent">
  		<label value="Lint Roll"/>
  		<class value="uk.ac.manchester.cs.lintroll.ui.LintRollView"/>
		<headerColor value="@org.protege.ontologycolor"/>
        <category value="@org.protege.ontologycategory"/>
  	</extension>
  	<!-- TABS -->
  	<extension id="LintRollTab"
                point="org.protege.editor.core.application.WorkspaceTab">
        <label value="Lint Roll"/>
        <class value="uk.ac.manchester.cs.lintroll.ui.LintRollTab"/>
        <editorKitId value="OWLEditorKit"/>
        <index value="L"/>
        <defaultViewConfigFileName value="viewconfig-lintrolltab.xml"/>
    </extension>
    <!-- Preference panel-->
    <extension id="ui.preferences.renderer" 
               point="org.protege.editor.core.application.preferencespanel">
        <label value="Lint Roll"/>
        <class value="uk.ac.manchester.cs.lintroll.ui.preference.LintRollPreferencesPanel"/>
    </extension>
  </plugin>