<?xml version="1.0" ?>
  <plugin>
    <extension-point id="lint"
                     name="Lint"
                     schema="schema/Lint.exsd"/>
<extension-point id="loaderfactory"
                     name="LoaderFactory"
                     schema="schema/LoaderFactory.exsd"/>                     
 	                     
  	<extension id="LintRollView"
			point="org.protege.editor.core.application.ViewComponent">
  		<label value="Lint Roll"/>
  		<class value="uk.ac.manchester.cs.lintroll.ui.LintRollView"/>
		<headerColor value="@org.protege.ontologycolor"/>
        <category value="@org.protege.ontologycategory"/>
  	</extension>
 	<!-- Example Lints -->
 	<extension id="SingleSubClassLint" point="uk.ac.manchester.cs.lintroll.lint">
 		<label value="Single sub-class"/>
 		<class value="uk.ac.manchester.cs.owl.lint.examples.SingleSubClassLint"/> 		
 	</extension>
 	<extension id="NonLeafNoInfoLint" point="uk.ac.manchester.cs.lintroll.lint">
 		<label value="Non leaf classes with no additional information"/>
 		<class value="uk.ac.manchester.cs.owl.lint.examples.NonLeafNoInfoLint"/> 		
 	</extension>
 	<extension id="Wait20sec" point="uk.ac.manchester.cs.lintroll.lint">
 		<label value="Wait for 20 seconds"/>
 		<class value="uk.ac.manchester.cs.owl.lint.examples.WaitFor20secondsLint"/> 		
 	</extension>
 	<extension id="TransitiveObjectPropertyHierarchy" point="uk.ac.manchester.cs.lintroll.lint">
 		<label value="Transitive Object Property Hierarchy"/>
 		<class value=" 	uk.ac.manchester.cs.owl.lint.examples.TransitiveObjectPropertyLint"/> 		
 	</extension>	  
  </plugin>