<?xml version="1.0" ?>

<plugin>

    <extension id="org.coode.pattern.CustomClass"
            point="org.coode.pattern.Pattern">
        <label value="To Do Item"/>
        <class value="org.coode.pattern.customclass.ToDoPatternDescriptor"/>
        <documentationUrl value="http://gong.man.ac.uk/ODPsCollection/node6.html"/>
    </extension>

</plugin>
