<?xml version="1.0" ?>

<plugin>

    <extension id="BookmarkView"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Bookmarks"/>
        <class value="org.coode.bookmark.BookmarkView"/>
        <headerColor value="@org.protege.ontologycolor"/>
    </extension>

    <extension id="BookmarkAction"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Bookmarks..."/>
        <class value="org.coode.bookmark.BookmarkAction"/>
        <toolTip value="List bookmarks for this ontology"/>
        <path value="org.protege.editor.owl.menu.tools/SlotG-A"/>
        <editorKitId value="OWLEditorKit"/>
        <accelerator value="B"/>
    </extension>

</plugin>