<?xml version="1.0" ?>

<plugin>

    <extension id="AnnotateView"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Annotation template"/>
        <class value="org.coode.annotate.AnnotationTemplateView"/>
    </extension>

    <extension
         id="AnnotationViewPreferencesPanel"
         point="org.protege.editor.core.application.preferencespanel">
        <label value="Annotation template"/>
        <class value="org.coode.annotate.prefs.AnnotationTemplatePrefsPanel"/>
    </extension>

</plugin>

