<?xml version="1.0" ?>

<plugin>

    <extension id="FederationTab"
               point="org.protege.editor.core.application.WorkspaceTab">
        <label value="Federation"/>
        <class value="org.protege.editor.owl.ui.OWLWorkspaceViewsTab"/>
        <editorKitId value="OWLEditorKit"/>
        <index value="Q"/>
        <defaultViewConfigFileName value="viewconfig-federationtab.xml"/>
    </extension>

    <extension id="FederationViewComponent"
     		   point="org.protege.editor.core.application.ViewComponent">
        <label value="Federation"/>
        <class value="org.protege.federation.FederationViewComponent"/>
        <headerColor value="@org.protege.classcolor"/>
    </extension>

</plugin>