<?xml version="1.0" ?>

<plugin>

    <extension id="OPLView"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="OPL"/>
        <class value="uk.ac.manchester.gong.opl.protege.OPLView"/>
        <headerColor value="@org.protege.ontologycolor"/>
    </extension>

    <extension id="OPLAction"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="OPL..."/>
        <class value="uk.ac.manchester.gong.opl.protege.OPLAction"/>
        <toolTip value="Ontology Processing Language Shell"/>
        <path value="org.protege.editor.owl.menu.tools/SlotG-B"/>
        <editorKitId value="OWLEditorKit"/>
    </extension>

</plugin>