<?xml version="1.0" ?>

<plugin>

    <extension id="ExistentialTreeView2"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Outline tree"/>
        <class value="org.coode.outlinetree.ui.OutlineView"/>
        <headerColor value="@org.protege.classcolor"/>
        <category value="@org.protege.classcategory"/>
    </extension>

    <extension id="TextOutlineView"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Outline tree (text)"/>
        <class value="org.coode.outlinetree.ui.TextOutlineView"/>
        <headerColor value="@org.protege.classcolor"/>
        <category value="@org.protege.classcategory"/>
    </extension>

    <extension id="ExistentialTreeView"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Existential tree"/>
        <class value="org.coode.existentialtree.view.ExistentialTreeView"/>
        <headerColor value="@org.protege.classcolor"/>
        <category value="@org.protege.classcategory"/>
    </extension>

    <extension id="ReciprocalsTreeView"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Existential tree (reversed)"/>
        <class value="org.coode.existentialtree.view.ReciprocalsTreeView"/>
        <headerColor value="@org.protege.classcolor"/>
        <category value="@org.protege.classcategory"/>
    </extension>

    <!--extension id="RelationsTreeView"
     		   point="org.protege.editor.core.application.ViewComponent">
        <label value="Relations Tree"/>
        <class value="org.coode.existentialtree.view.RelationsTreeView"/>
        <headerColor value="@org.protege.individualcolor"/>
        <category value="@org.protege.individualcategory"/>
    </extension-->

</plugin>